# Virtual environments

new_venv/
venv310/
venv/
env/

# Python cache

**pycache**/
*.pyc

# Environment variables

.env

# VS Code / system files

.vscode/
.idea/

# Jupyter Notebook

.ipynb_checkpoints/

# OS files

.DS_Store
Thumbs.db
*.h5